body{
    font-family: 'Segoe UI',sans-serif;
    margin:0;
    background:#f4f6fb;
}

.navbar{
    background:#2563EB;
    color:white;
    padding:18px 25px;
    font-size:22px;
    font-weight:600;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    margin:15px 0;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

button{
    background:#22C55E;
    border:none;
    padding:8px 14px;
    margin:5px;
    border-radius:6px;
    color:white;
    cursor:pointer;
}

.status{
    padding:5px 10px;
    border-radius:6px;
    font-weight:600;
}

.WAITING{ background:#fde68a; }
.ACCEPTED{ background:#93c5fd; }
.PREPARING{ background:#c4b5fd; }
.READY{ background:#86efac; }
.COMPLETED{ background:#22c55e; color:white; }

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.menuItem{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
}